/* FOR IMPORTING FONTS */
@import url('https://fonts.googleapis.com/css?family=Satisfy');

/* UNIVERSALS */

body, html {
  margin: 0;
  padding: 0;
}

#logo {
  width: 90px;
  height: 65px;
}

/* FOR ' -fluid' IN HEADER */

/*header.container-fluid {
  padding-left: 164;
  padding-left: 164;
}

/*#logo-img>span {  DIRECT DECENDENT TAG
  display: inline-block;
  font-family: 'Lobster', cursive;
  color: #f2777c;
  font-size: 40px;
}*/

/*#logo-wrapper {  NEW
  padding-top: 15px;
}*/

#logo~span {  /* SIBLING TAG */
  display: inline-block;
  font-family: 'Satisfy', cursive;
  color: #f2777c;
  font-size: 35px;
  text-transform: capitalize; /* FIRST LETTER CAP */
  margin-top: 7px;
}

.nav>li>a {
  font-size: 19px;
  color: #82b9e2;
  margin-top: 14px;
}

/* CALL TO ACTION STARTS HERE */
.jumbotron {
  background-image: url('../img/hero.jpg');
  background-size: cover;
  background-position: center;
  height: 422px;
}

.jumbotron>p {
  text-transform: uppercase; /* ALL CAPS */
  color: #fff;
  font-size: 26px;
  /*font-weight: normal;*/
  margin-top: 15px;
}

/*PRODUCTS*/
.btn-default {
  background-color: #5bc0de;
  color: #fff;
  border: none;
}

.thumbnail {
  background-color: #edf1f4;
  padding: 16px;
}

.product-gutter {
  margin-left; 7px;
  margin-right: ; 7px;
}

#services-section {
  text-align: center;
}

#services-nav>li>a {
  text-transform: uppercase;
  font-size: 18;
}

/* FOOTER SECTION */

footer {
    background-color: #231f20;
    padding-top: 20px;
    padding-bottom: 5px;
}

#grey-text {
  color: #bfc0c1;
}

.border-left-grey {
  border-left: 1px solid #302f2f;
}

address {
  font-size: 14px;
}

.border-left-grey>a {
  display: block;
  color: #bfc0c1;
  font-size: 18px
  text-decoration: none;
}

#footer-logo {
  height: 80px;
  width: 110px;
}
